@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Libre+Barcode+39+Text');

body {
  background-color: #cccdce;
}

h1 {
  text-align: center;
  color: purple;
  font-family: 'Libre Barcode 39 Text', cursive;
  background-color: #cccdce;
  padding-bottom: 20px;
  font-size: 48px;
}

.navbar {
  margin-bottom:0px;
  border-radius: 0px;
}

#about {
  font-family: 'Josefin Slab', serif;
  text-align: center;
  font-size: 16px;
  padding-top: 20px;
}

#about-small {
  font-family: 'Josefin Slab', serif;
  text-align: center;
  font-size: 15px;
}

#about-header {
font-family: 'Josefin Slab', serif;
text-align: center;
font-size: 18px;
}

img {
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 50px;
}

#welcome {
  padding-top: 10px;
  padding-bottom: 50px;
  border-radius: 0px;
}

#thrones {
  padding-top: 0px;
  padding-bottom: 15px;
}


#goals {
  text-align: center;
  font-family: 'Josefin Slab', serif;
  padding-top: 25px;
}

#likes {
  padding-bottom: 50px;
}

#bonobo {
  padding-bottom: 30px;
}

#video {
  padding-top: 0px;
  padding-bottom: 20px;
  width: 50%;
}

#tech {
  padding-top:20px;
  padding-bottom:20px;
}

#galvanize {
  padding-bottom: 40px;
}

#kermit {
  border-radius: 0px;
}
/* media queries go at the bottom */
/* from biggest to small */

@media screen and (max-width: 1024px) {
  body {
    background-color: red;

  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: green;
    display: none;
  }
}
